<a href="/">Home</a> |
<a href="/about/">About</a> |
<a href="/contacts/">Contacts</a>

<hr>

<h1>Halaman About</h1>

<hr>

<p>Website ini dibuat sebagai bagian dari praktikum Pemrograman Internet I menggunakan framework Django. Django adalah framework web berbasis Python yang digunakan untuk membangun aplikasi web dengan cepat, aman, dan terstruktur. Framework ini menyediakan berbagai fitur bawaan seperti sistem routing URL, template engine, dan pengelolaan database sehingga memudahkan pengembang dalam membuat aplikasi web. Website ini memiliki beberapa halaman seperti Home, About, dan Contacts yang saling terhubung.</p>
<p>
Pembuat Website <br>
Nama : Rizky Bintang Fadillah <br>
NPM : 24782062 <br>
Program Studi : Teknologi Rekayasa Internet
</p>